*{
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 16px;
    position: sticky;
    top: 0;
    background: var(--background-color);
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: var(--font-size-regular);
}

header nav > a {
    margin-right: 16px;
}

header nav > a:last-child {
    margin-right: revert;   
}

header nav > a:hover,
nav a:visited:hover {
    color: var(--secondary-color);
}

header nav > a:visited {
    color: inherit;
}

footer{
    padding: 16px;
    text-align: center;
    border-top: 2px solid;
}

.container{
    padding: 16px;
}

.container > section h2 {
    text-align: center;
}

.intro{
    margin: -16px;
    padding: 16px;
    background-color: var(--intro-color);
    color: white;
    text-align: center;
}

#profile_img{
    height: 300px;
    width: 300px;
    border-radius: 16px;
    /* border-radius: 50%; */
    filter: drop-shadow(4px -6px 10px black);
}

.social_links img{
    height: 25px;
    width: 25px;
}

.social_links a {
    text-decoration: none;
    margin: auto 16px;
}

table,
tr,
td ,
th {
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
}

table {
    height: 100px;
    width: 350px;  
  }



.dynamic-text-color {
    color: royalblue;
}

.my_heading {
    font-size: 50px;
    background-color: powderblue;
}

img{
    inline-size: 100px;
    border-radius: 50%;
  }


form#contact{
    max-width: 350px;
    margin: auto;
    padding: 16px;
    border: 1px solid;
    border-radius: 16px;
}

#contact label{
    display: block;
    font-weight: 600;
    font-size: var(--font-size-regular);
}

#contact input, #contact textarea, #contact button{
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
}

#contact-me {
    margin-top: 16px;
}

.mobile-nav,
section.menu {
    display: none;
}

@media (width <500px) {
    .default-nav{
        display: none;
    }
    .mobile-nav{
        display: revert;
    }
    #menu-button{
        display: block;
        border-radius: 8px;
        margin-left: auto;
        background: var(--background-color);
        color: var(--text-color);
        border-color: var(--text-color);
    }
    section.menu {
        display: revert;
        height: 0;
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 2;
        background: var(--background-color);
        transition: height 0.8s ease-in-out;
    }
    section.menu ul {
        list-style: none;
    }
    section.menu ul > li {
        margin-bottom: 16px;
        font-size: 1.5rem;
    }
    section.menu nav {
        margin-top: 48px;
    }
    section.menu nav a {
        font-size: var(--font-size-large);
    }
    #close-menu {
        position: absolute;
        right: 16px;
        top: 16px;
        background: transparent;
        font-size: var(--font-size-xl);
        border: none;
        color: var(--text-color);
    }
    form#contact{
        margin: 1px;
    }
}

@media (width<=450px) {
    #profile-image {
        width: 100%;
    }
}


:root {
    --background-color: hsl(240deg, 80%, 100%);
    --secondary-color: hsl(225, 85%, 57%);
    --text-color: hsl(0, 0%, 0%);
    --intro-color: hsl(0, 0%, 85%);

    --font-size-small: 0.5rem;
    --font-size-regular: 1rem;
    --font-size-large: 1.5rem;
    --font-size-xl: 2rem;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size-large);
}

@media (prefers-color-scheme: dark) {
    body{
        --background-color: black;
        --text-color: hsl(240deg, 95%, 100%);
        --intro-color: hsl(0, 0%, 18%);
    }
}