html, body {
    margin: 0;
    padding: 0;
}

.my_heading {
    font-size: 50px;
    background-color: powderblue;
}

p{
    font-size: 20px;
}

img{
    inline-size: 100px;
  }

table, th, td{
    border: 2px solid;
}
