*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding: 16px;
}

.container > div h2 {
    text-align: center;
}

.intro{
    margin: -16px;
    padding: 16px;
    background-color: #261d1d;
    color: white;
    text-align: center;
}

#profile_img{
    height: 300px;
    width: 300px;
    border-radius: 16px;
}

.social_links img{
    height: 25px;
    width: 25px;
}

.social_links a {
    text-decoration: none;
    margin: auto 16px;
}

table,
tr,
td ,
th {
    border: 1px solid;
    border-collapse: collapse;
    align-content: center;
}

p { font-size: 1.2rem;}

.dynamic-text-color {
    color: royalblue;
}

.my_heading {
    font-size: 50px;
    background-color: powderblue;
}

img{
    inline-size: 100px;
  }

table {
    table-layout: auto;
    width: 100%;  
  }


form#contact{
    max-width: 400px;
    margin: auto;
    padding: 16px;
    border: 1px solid;
    border-radius: 16px;
}

#contact label{
    display: block;
    font-weight: 600;
}

#contact input, #contact textarea, #contact button{
    width: 100%;
}